<div class="ui raised segment">
  <h2 class="ui header">モデル駆動型フォーム</h2>

  <form [formGroup]="myForm" (ngSubmit)="onSubmit(myForm.value)" class="ui form">

    <div class="field">

      <div class="row">
        <label for="textForm">テキストフォーム：</label>
        <input type="text" id="textForm" placeholder="ここに何か入力してください。" [formControl]="myForm.controls['textForm']">
        <div *ngIf="!myForm.controls['textForm'].valid" class="ui error message">未入力です</div>
        <div *ngIf="myForm.controls['textForm'].hasError('required')" class="ui error message">未入力です</div>
      </div>

      <div class="row">
        <label for="checkboxForm">チェックボックス：</label>
        <input type="checkbox" id="checkboxForm" [formControl]="myForm.controls['checkboxForm']">
        <div *ngIf="!myForm.controls['checkboxForm'].valid" class="ui error message">未チェックです</div>
        <div *ngIf="myForm.controls['checkboxForm'].hasError('required')" class="ui error message">未チェックです</div>
      </div>

      <div class="row">
        <input type="radio" value="male" formControlName="gender"> Male
        <input type="radio" value="female" formControlName="gender"> Female
        <div *ngIf="myForm.controls['gender'].invalid">
          Gender required.
        </div>
      </div>
    </div>

    <button type="submit" class="ui button">Submit</button>
  </form>
</div>

<router-outlet></router-outlet>
